---
interface Props {
	title: string;
	excerpt: string;
	href: string;
	image: {
		src: string;
		alt: string;
	}
}

const { href, title, excerpt, image } = Astro.props;
---

<li>
	<a href={href} class="card">
		<div class="card__container">
			<figure class="card__img">
				<img src={image.src} alt={image.alt} />
			</figure>
			<div class="card__description">
				<h2>{title}</h2>
				<p>{excerpt}</p>
			</div>
		</div>
	</a>
</li>

<style>
	li {
		list-style-type: none;
	}

	.card__container {
		padding: 16px;
		padding-bottom: 24px;
		border: #cfcfcf solid 1px;
		border-radius: 20px;
	}

	.card__description {
		color: rgb(0, 0, 0);
		text-transform: capitalize;
	}

	.card__container h2 {
		font-size: 24px;
		margin-bottom: 8px;
		line-height: 1;
	}

	.card__container p {
		font-size: 16px;
	}

	.card__img {
		border-radius: 4px;
		margin-bottom: 16px;
	}
</style>
