---
import { Image } from 'astro:assets';

const { href, title, excerpt, image, imageAlt } = Astro.props;
---

<li>
	<a href={href} class="card">
		<div class="card__container">
			<figure class="card__figure">
				<Image src={image} alt={imageAlt} class="card_image" />
			</figure>
			<div class="card__description">
				<h2>{title}</h2>
				<p>{excerpt}</p>
			</div>
		</div>
	</a>
</li>

<style>
	li {
		list-style-type: none;
	}

	.card {
		height: 100%;
		display: block;
	}

	.card__container {
		padding: 16px;
		padding-bottom: 24px;
		border: #cfcfcf solid 1px;
		border-radius: 20px;
		height: 100%;
	}

	.card__description {
		color: rgb(0, 0, 0);
		text-transform: capitalize;
	}

	.card__container h2 {
		font-size: 24px;
		margin-bottom: 8px;
		line-height: 1;
	}

	.card__container p {
		font-size: 16px;
	}

	.card__figure {
		border-radius: 4px;
		margin-bottom: 16px;
		overflow: hidden;
	}

	.card_image {
		object-fit: cover;
		width: 100%;
		min-height: auto;
  	height: 100%;
		aspect-ratio: 1 / 1;
	}

</style>
